/* GLOBAL STYLES */
*{
  margin: 0;
  box-sizing: border-box;
}

body{
 background-color:  #ccc;
 height: 100vh;
}

.navbar{
  background-color: black;
  color: #fff;
  margin-bottom: 100px;
  text-align: center;
}
